* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    /* background-color: darkgrey; */
}

/* ************ */
/* *Reuse code** */
/* ************ */
/* ************ */
.right {
    float: right;
}

.left {
    float: left;
}

.full {
    width: 100%;
}

.half_sec {
    width: 50%;
}

.no-margin-right {
    margin-right: 0 !important;
}

.clear {
    clear: both;
}


.container {
    max-width: 1170px;
    width: 95%;
    margin: auto;
}





/*  ******************* */
/*  ******************* */
/*  **** Header  **** */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #b0a5a5;

}

.logo img {
    width: 57px;
    margin-left: 31px;
}

header nav {

    align-items: center;
    justify-content: space-between;
    min-width: 500px;

}

header nav a {
    margin: 10px;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 35px 0px;
    cursor: pointer;
}

header nav a:hover {
    border-bottom: 4px solid #ff3f6c;
}

header nav a sup {
    text-align: left;
    color: #ff3f6c
}

/*  **** Header  End **** */
/*  ******************** */
/*  ******************** */

/* ******************* */
/* ******************* */

/*  ******************** */
/*  ******************** */
/*  **** Search-bar **** */

.search-bar {
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search-input {
    display: flex;
    flex-grow: 1;
    border: none;
    height: 35px;
    background: #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    outline: 0;
    color: #696e79;
    
}

.search-bar i {
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 40px;
    border-radius: 4px 0 0 4px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    cursor: pointer;
    color: #696e79;

}

/*  **** search-bar End**** */
/*  ********************** */
/*  ********************* */
/* ******************* */
/* ******************* */
/*  ************************ */
/*  ************************ */
/*  **** Action-section **** */

.action {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 0;
    height: 40px;
    margin: 0px 30px 0 10px;
    min-width: 200px;
    text-transform: capitalize;
    cursor: pointer;

}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.action-container i {
    margin-bottom: 12px;
}
.action-container i:hover{
    color: rgb(26, 230, 26);
    font-size: 30px;
}
.action-container .action-name {
    font-size: 15px;
    font-weight: 700;
    box-sizing: content-box;
}
.action-container .action-name:hover{
    color: rgb(80, 87, 226);
    font-size: 20px;
    box-sizing: content-box;
}

/*  **** Action-section End**** */
/*  ************************ */
/*  ********************* */

/* ******************* */
/* ******************* */

/*  ************************ */
/*  ************************ */
/*  **** Main-section **** */

.hero a img {
    width: 100%;
    margin: 40px 0px;
}

.categor-list-img {
    margin-top: 2.5%;
    padding-top: 3px;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    flex-wrap: wrap;
}
.off-categore-list{
    width: 98%;
    
}
.off-categore-list img{
    width: 100%;
    margin-left: 1%;
}
.categore-hero-img{
    width: 98%;
}
.categore-hero-img img{
    width: 98%;
    margin-left: 1%;
}

.spacial-categore-img a {
    margin: 5px 4px;
}

/*  **** Main-section End**** */
/*  ************************ */
/*  ********************* */



/*  ************************ */
/*  ************************ */
/*  **** fotter-section **** */
.footer-main-sec {

    background-image: url(../img/bgdark.jpg);
    padding: 65px 0px;
    overflow: hidden;
}

.footer-main-sec>p {
    color: #fff;
    margin-top: 35%;
    text-align: center;
    font-size: 400;
    text-transform: capitalize;

}

.footer-main-sec>p i {
    padding: 0px 10px;
}

.footer-main-sec>p span {
    text-transform: uppercase;
    padding: 0px 10px;
}

.fotter-contant-sec {
    width: 50%;
    display: flex;
}

.footer-inner-sec {
	width: 56%;
	text-align: justify;
	letter-spacing: normal;
	color: #fff;
}

.footer-inner-sec>h3 {
    margin-bottom: 10px;
}

.footter-inner-sec-link {
    width: 50%;
    margin-left: 5%;
    color: #fff;
}

.footter-inner-sec-link>h3 {
    margin-bottom: 20px;
}

.footter-inner-sec-link ul {
    color: #fff;
    list-style: none;
}

.footter-inner-sec-link ul li {

    margin: 20px;
    color: #fff;

}

.footter-inner-sec-link i {
    padding-right: 10px;
}

.footter-inner-sec-link ul li a {
    text-decoration: none;
    color: #fff;

}
.footter-inner-sec-link ul li a:hover {
    color:salmon;

}

/* End left side done  */

/* right section */
.footer-contact-sec {
    width: 50%;
    display: flex;
    color: #fff;
}

.footer-contact-gallery-sec {
    width: 50%;


}

.footer-contact-gallery-sec>h3 {
    margin-bottom: 20px;

}

.footer-contact-gallery-sec img {
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-contact {
    width: 50%;
}

.footer-contact>h3 {
    margin-bottom: 20px;
    padding-left: 55px;

}

.head-office {
    margin-bottom: 30px;
}

.head-office>h4 {
    text-align: left;
    margin-left: 30px;
    color: salmon;
}

.head-office i {
    padding-right: 15px;
}

.head-office>a {
    display: block;
    text-align: left;
    margin-left: 60px;
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
}

.cell {
    margin-bottom: 30px;
}

/*End footer css */

.copy {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}


/*  ************************ */
/*  ************************ */
/*  **** fotter-section End **** */